<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/header %>
    <title>New Book</title>
  </head>
  <body>
    <% include partials/navigation %>
    <div class="container p-4">
      <form method="POST" action="/new-entry" class="card card-body">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            class="form-control"
            type="text"
            name="title"
            id="title"
            placeholder="Entry a new title"
            autofocus
            required
          />
          <!-- las propiedades autofocus y required nos sirven para
        decirle al usuario que este campo es requerido para que el user no lo deje en blanco-->
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input
            class="form-control"
            type="text"
            name="author"
            id="author"
            placeholder="Author"
            required
          />
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input
            class="form-control"
            type="text"
            name="image"
            id="image"
            placeholder="http://website.com"
            required
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="description"
            rows="2"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label>Horror</label>
          <input type="checkbox" id="horror" name="horror" />
        </div>
        <div class="form-group">
          <label>Drama</label>
          <input type="checkbox" id="drama" name="drama" />
        </div>
        <input type="submit" value="Save Book" class="btn btn-primary" />
        <!-- el type debe ser submit para enviar el form al servidor. -->
      </form>
    </div>
  </body>
</html>
